<section class="hero is-primary">
  <div class="hero-head">
    {{> navbar}}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        DATABASE
      </p>
      <p class="subtitle">
        Archives List
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    <div class="table-container">
      <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Catalogue Number</th>
            <th>Sound type</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Season</th>
            <th>Time of day</th>
            <th>Type of location</th>
            <th>Location</th>
            <th>Recordist</th>
            <th>Artist</th>
            <th>Length</th>
            <th>Device/Recorder</th>
            <th align="right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each archives}}
            <tr>
              <td>{{catalogueNumber}}</td>
              <td>{{soundType}}</td>
              <td>{{title}}</td>
              <td>{{content}}</td>
              <td>{{date}}</td>
              <td>{{season}}</td>
              <td>{{timeOfDay}}</td>
              <td>{{typeOfLocation}}</td>
              <td>{{location}}</td>
              <td>{{recordist}}</td>
              <td>{{artist}}</td>
              <td>{{length}}</td>
              <td>{{deviceRecorder}}</td>
              <td align="right">
                <div class="buttons is-right">
                  <button class="button is-warning is-small">
                    <span class="icon">
                      <i class="fas fa-edit"></i>
                    </span>
                  </button>

                  <button class="button is-danger is-small">
                    <span class="icon">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>